body {
    padding: 0;
    background-color: #2e3440;
    font-family: 'Segoe UI', sans-serif;
    color: #eceff4;
    margin: 0;
   
}
  
  
.form-cont {
    width: 100%;
    max-width: 480px;
    margin: 64px auto;
    padding: 40px;
    background: #3b4252;
    border-radius: 16px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.3);
}
  
 
.form-cont h2 {
    font-size: 25px;
    color: #eceff4;
    margin-bottom: 20px;

}
  
 
.form-cont input {
    width: 100%;
    padding: 12px 15px;
    background: #4c566a;
    color: #eceff4;
    margin-bottom: 24px;
    font-size: 16px;
    border: 1px solid #88c0d0;
    border-radius: 10px;

  }
  
.form-cont input::placeholder {
    color: #d8dee9;
}
  
.form-cont input:focus {
    outline: none;
    border-color: #81a1c1;
    background-color: #434c5e;
}
  

.form-cont button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}
  

.form-cont button[type="submit"] {
    background-color: #81a1c1;
    color: #2e3440;
}
  
.form-cont button[type="submit"]:hover {
    background-color: #5e81ac;
}
  
  
.form-cont button[type="button"] {
    background-color: #d08770;
    color: #2e3440;
}
  
.form-cont button[type="button"]:hover {
    background-color: #bf616a;
}
  
  
.form-cont ul {
    list-style-type: none;
    padding: 0;
    margin-top: 16px;
}
  
.form-cont li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #eceff4;
}
  