body {
    background-color:  #6B7A89;

}

.form-cont {
    width: 100%;
    max-width: 450px;
    margin: 4rem auto;
    border-radius: 20px;
    padding: 40px;
    background: #675C5A;
    font-family: sans-serif;
}

.form-cont h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #201E1F;
}

.form-cont input {
    width: 100%;
    font-size: 16px;
    padding: 12px 15px;
    margin-bottom: 24px;
    border: 2px solid #6B7A89;
}