body {
    background-color:  #f4f6f8;

}

.form-cont {
    width: 100%;
    max-width: 450px;
    margin: 4rem auto;
    border-radius: 20px;
    padding: 40px;
    background: #ffffff;
    font-family: sans-serif;
}

.form-cont h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #201E1F;
}

.form-cont input {
    width: 100%;
    font-size: 16px;
    padding: 12px 15px;
    margin-bottom: 24px;
    border: 2px solid #7cb1e5;
    border-radius: 12px;
    background: #f1f1f1;
}

.form-cont button {
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.form-cont button[type="submit"] {
    background-color: #0077ff;
    color: #fff;
  }

.form-cont button[type="button"] {
    background-color: #e0e0e0;
    color: #333;
}

.form-cont ul {
    list-style-type: none;
    padding: 0;
    margin-top: 16px;
}
  
  .form-cont li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
}
  
